.App {
  text-align: center;
}
html{
  height: 100%;
}
/*landing page styles*/

.landing-page{
  display: flex;
  height: 100%;
  overflow: hidden;
}
.landing-page-image-container{
  height:100vh;
}
.landing-page-image{
  height:100%;
}
.landing-page-actions-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #171717;
  flex: 1;
  color: azure;
  align-items: center;
}

.action-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 10px;
}
.action-text>span{
  font-size: x-large;
  font-weight: 700;
  opacity: .6;
  text-align: left;
  margin-bottom: 15px;
}

.action-text>span>span{

  color: #B14AED;
  
}
.landing-page-action-button{
  padding: .7rem;
  font-size: medium;
  font-weight: 600;
  background-color: #B14AED;
  color: #fff;
  width: 20rem;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
  margin-bottom: 2rem;

}
.landing-page-action-button:hover{
  background-color: #592E83;
 
}
.already-have-account-text{
  color: #B14AED;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: .5s;
}
.already-have-account-text:hover{
  color: #592E83;
}
.website-logo-landing-page{
  color: #B14AED;
  font-weight: 900;
  font-size: 40px;
  align-self: flex-end;
  margin-right: 1rem;
  
}

/*login page styles*/

.login-input-container{
  
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  padding: 2rem;
  background-color: #28282B;
  border-radius: .6rem;
  
}
.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171717;
}

.label-container{
  text-align: left;
  width: 100%;
  color: darkgray;
}
.email-input{

  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  margin-bottom: 20px;
  border: 2px solid #B14AED;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}
.pass-input{

  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  margin-bottom: 20px;
  border: 2px solid #B14AED;
  background-color: transparent;
  color: #fff;
  transition: .5s;
}
.pass-input:hover{
  border: 2px solid #592E83;
}
.email-input:hover{
  border: 2px solid #592E83;
}
.pass-input:focus{
  border: 2px solid #592E83;
}
.email-input:focus{
  border: 2px solid #592E83;
}

.remember-me-container{
  text-align: left;
  margin-bottom: 30px;
  color: darkgray;
}
.login-button{
  width: 100%;
  padding: .7rem;
  background-color: #B14AED;
  color: #fff;
  border-bottom: 10px;
  cursor: pointer;
  transition: .5s;
}
.login-button:hover{
  background-color: #592E83;
}
.website-logo-login-page{
  color: #B14AED;
  font-weight: 900;
  font-size: 40px;
  margin-right: 1rem;
  border-bottom: 10px;
}
.create-new-account-text{

  color: #B14AED;
  cursor: pointer;
}

/*sidebar*/
.sidebar{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 20%;
  padding: 1rem;
  overflow-y: hidden;

}
.sidebar-options{
  
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-evenly;
  text-align: center;
}
.sidebar-option{
  display: flex;
  align-items: center;
  gap:.5rem;
  font-size: 15px;
  padding:.5rem;
  cursor: pointer;
}
/*write-something*/
.write-something{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.write-something-container{
  width: 60%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  
}
.profileAvatar{
  align-self: flex-start;
}
.write-something-area>textarea{
  padding: .5rem;
}